html,body{
  margin: 0;
  padding: 0;
}

header{
    background: #D6F0EA;
    padding: 1px 0;
}
nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-around;
}

nav li{
  background: #B2DCD5;
  padding: 5px 10px;
}

nav li:hover{
  background: #81A5A1;

}

nav li a{
  text-decoration: none;
  color: #000000;
}

main{
  display:flex;
  height: 100vh;
}

section.write, section.view{
  flex: 1 50%;
}

section.write textarea{
  width: 100%;
  height: 100%;
}